$bug: #94bc4a;
$dark: #736c75;
$dragon: #6a7baf;
$electric: #e5c531;
$fairy: #e397d1;
$fighting: #cb5f48;
$fire: #ea7a3c;
$flying: #7da6de;
$ghost: #846ab6;
$grass: #71c558;
$ground: #cc9f4f;
$ice: #70cbd4;
$normal: #aab09f;
$poison: #b468b7;
$psychic: #e5709b;
$rock: #b2a061;
$steel: #89a1b0;
$water: #539ae2;

$bgBug: linear-gradient(90deg, #d8e030 0%, #a8b820 25%, #a8b820 75%, #789010 100%);
$bgDark: linear-gradient(90deg, #a8a878 0%, #705848 25%, #705848 75%, #484038 100%);
$bgDragon: linear-gradient(90deg, #b8a0f8 0%, #7038f8 25%, #7038f8 75%, #483890 100%);
$bgElectric: linear-gradient(90deg, #f8f878 0%, #f8d030 25%, #f8d030 75%, #b8a038 100%);
$bgFairy: linear-gradient(90deg, #fff7ff 0%, #fbe6ef 20%, #d795c0 40%, #d278ad 60%, #c14d97 80%, #b73188 100%);
$bgFighting: linear-gradient(90deg, #f08030 0%, #c03028 25%, #c03028 75%, #484038 100%);
$bgFire: linear-gradient(90deg, #f8d030 0%, #f08030 25%, #f08030 75%, #c03028 100%);
$bgFlying: linear-gradient(90deg, #c8c0f8 0%, #a890f0 25%, #a890f0 75%, #705898 100%);
$bgGhost: linear-gradient(90deg, #a890f0 0%, #705898 25%, #705898 75%, #483850 100%);
$bgGrass: linear-gradient(90deg, #c0f860 0%, #78c850 25%, #78c850 75%, #588040 100%);
$bgGround: linear-gradient(90deg, #f8f878 0%, #e0c068 25%, #e0c068 75%, #886830 100%);
$bgIce: linear-gradient(90deg, #d0f8e8 0%, #98d8d8 25%, #98d8d8 75%, #9090a0 100%);
$bgNormal: linear-gradient(90deg, #d8d8c0 0%, #a8a878 25%, #a8a878 75%, #705848 100%);
$bgPoison: linear-gradient(90deg, #d880b8 0%, #a040a0 25%, #a040a0 75%, #483850 100%);
$bgPsychic: linear-gradient(90deg, #f8c0b0 0%, #f85888 25%, #f85888 75%, #906060 100%);
$bgRock: linear-gradient(90deg, #e0c068 0%, #b8a038 25%, #b8a038 75%, #886830 100%);
$bgSteel: linear-gradient(90deg, #d8d8c0 0%, #b8b8d0 25%, #b8b8d0 75%, #807870 100%);
$bgWater: linear-gradient(90deg, #98d8d8 0%, #6890f0 25%, #6890f0 75%, #807870 100%);
